<ion-header>
  <ion-toolbar>
     <ion-buttons slot='end'>
          <ion-back-button defaultHref='/' icon='close'>       
        </ion-back-button>  
         </ion-buttons>
    <ion-title>Biografia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src='./assets/img/johfra.jpg'></ion-img>
  <h3>Johfra Bosschart</h3>   
  <p>Johfra Bosschart nasceu em Rotterdam, Holanda, em 15 de dezembro de 1919, e morreu em Fleurac, França, em 6 de novembro de 1998, aos 78 anos. 
    <br>Ele assinou seus trabalhos "Johfra", um acróstico de seu nome completo Fra nciscus Joh annes Gijsbertus Van Den Berg. 
    <br>Ele às vezes acrescentava o nome de solteira de sua mãe, "Bosschart", às suas pinturas também. 
    <br>O fundador do agora extinto grupo "Meta-realista", ele descreveu suas próprias obras como "Surrealismo baseado em estudos de psicologia, religião, a Bíblia, astrologia, antiguidade, magia, feitiçaria, mitologia e ocultismo". Uma autobiografia de Johfra Bosschart, Symphony Fantastique , ISBN: 90 804422016 (de Verbeelding / Woerden) está disponível desde 1998.
  </p>
<p>
    Em 1973, Johfra foi contratado para fazer as doze imagens do Zodíaco acima por Engel Verkerke. 
    <br>E, ao mesmo tempo, Walter Kamp também encomendou sete pinturas dele que passaram a ser conhecidas como a série Maldoror. 
    <br>Em abril de 1974, trabalhando em seu novo estúdio na torre do Moulin du Peuch, Johfra completara os três signos Câncer, Leão e Virgem. 
    <br>Alguns meses depois, Escorpião e Libra terminaram e, no final do ano, Sagitário e Capricórnio também. 
    <br>No ano seguinte ele completou a série com Aquarius, Peixes, Áries, Gêmeos e Touro.
</p>

<p>
    Tendo estudado durante anos em uma moderna Escola de Mistérios, o Lectorium Rosicrucianum, Johfra aplicou sua compreensão das tradições antigas a esta agora mundialmente famosa série de pinturas, de modo que elas se tornaram mais do que mero simbolismo zodiacal. 
    <br>Incorporando imagens, idéias e símbolos do Tarot, da Kabbalah, da alquimia, do gnosticismo, do Hermetismo (de Hermes ) e do Rosacrucianismo, as pinturas podem ser experimentadas como meditações e portas para o crescimento espiritual.
<br>
    Em ambos os lados da fotografia de Johfra, estão miniaturas de suas 12 pinturas astrológicas de página inteira que vêm com Você e o Universo , um livro de belas artes personalizado sobre astrologia, mitologia e astronomia, através do qual é tecida toda a leitura astrológica de cada destinatário. 
    <br>As doze imagens reais em seu próprio livro são muito mais claras e maiores (8 "x 10,5") do que as ampliações obtidas clicando nas miniaturas acima.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/IHaVe7PD-1E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  </ion-content>
