<ion-header>
    <ion-toolbar>
         <ion-buttons slot='end'>
       <ion-back-button defaultHref='/' icon='close'>       
     </ion-back-button>  
      </ion-buttons>
      <ion-title color='primary' text-nowrap >
          Informações sobre o conteúdo
      </ion-title>    
      </ion-toolbar>
  </ion-header>
<ion-content padding fullscreen>
  
    <p text-wrap>Na linguagem arcaica da astrologia esotérica se oculta uma vasta sabedoria que nos revela as leis da vida,
      dando-nos uma compreensão perfeita das dimensões espirituais.
      Lamentavelmente, os avanços pseudocientíficos do século XX estimularam um processo divisório entre as
      diversas ciências herméticas: a Astrologia, Astronomia, Psicologia, Teurgia, Alquimia, etc., que se originam
      de uma mesma fonte de conhecimento e que passaram a ser estudadas isoladamente.<br><br>
      As limitações da Astrologia numérica têm levado os estudantes e adeptos desta ciência a um fatalismo
      astrológico, muito semelhante ao fatalismo cármico. 
      <br>Os verdadeiros astrólogos, além de conhecerem a fundo os cálculos e interpretações astrológicas, eram verdadeiros teurgos e alquimistas, atuavam de forma intuitiva
      e investigavam diretamente nos mundos superiores, onde recebiam os ensinamentos práticos dos gênios
      siderais das constelações zodiacais.<br>
      Os astrólogos modernos, com algumas exceções, já não sabem manejar esse veículo sideral (corpo astral) que
      poderia levá-los à Fonte Original de todos os fenômenos astrológicos e, ao se fundamentarem exclusivamente
      nos aspectos matemáticos, não raramente se equivocam.
      A verdadeira sabedoria não se encontra no intelecto, mas sim no coração. <br>
      É necessário que os astrólogos aprendam a sair do corpo físico conscientemente para atuarem no campo astral com conhecimento de causa,
      gravando-se no cérebro físico as revelações recebidas. 
      <br><br>O mundo astral reúne condições mais favoráveis para
      se adquirir sabedoria e conhecimento prático, pois esta dimensão se encontra livre do tempo e do espaço. <br>
      Além disso, lembremos que todo fenômeno plasmado no mundo físico já é anteriormente plasmado no mundo astral. <br>
      Este aplicativo reúne a interpretação das pinturas do artista holandês Johfra, que transmitem conhecimentos
      extraídos das 12 constelações zodiacais, plasmados desde o princípio dos Universos até nossos dias. 
      <br>O iniciado Johfra nos entrega, em suas pinturas, a projeção de um trabalho psicológico dos mundos superiores. 
      <br>A simbologia desvelada apresenta uma extraordinária inspiração artística, fundamentada essencialmente na sua
      intuição astral. 
      <br><br>Cada figura, cada símbolo cabalístico e iniciático nos colocam frente a frente com arquétipos
      que se ocultam no nosso inconsciente, indicando importantes aspectos da nossa personalidade e os meios de
      lutar contra os defeitos que mais nos prejudicam, fazendo-nos compreender a necessidade de purificar-nos
      internamente e assim conhecermos as supradimensões cósmicas conhecidas como Nirvana, Paraíso, Olimpo,
      etc.<br><br>
      Além da interpretação simbológica, também apresenta um estudo objetivo sobre a compatibilidade
      conjugal entre os diversos signos, indicando-se as diversas possibilidades de harmonização entre estes.<br>
      Claro está que não podemos nos esquecer que os princípios de compatibilidade entre dois seres estão no seu     
      nível de Consciência Desperta (pois, quanto mais “espiritualizado” for o casal, menor influência mecânico-
      astrológica sofrerá).<br><br>    
      Para captarmos a extraordinária sabedoria contida neste aplicativo devemos estudá-la com intuição aguçada,
      despidos de todo conceito intelectual baseado na lógica racional e assim nos inspirar para a grande descoberta
      do nosso Universo Interior.'
    </p> 
  
  </ion-content>
  