
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    }
    
    ion-card {
--background: white;
text-align: center;
padding-bottom: 4px;
    }
    ion-content{
        padding-top: 5px;
    }
    /* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}
.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}